* {
    box-sizing: border-box;
    
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(14, 14, 14);
    color: rgb(247, 247, 247);
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar{

    display: none;
    scrollbar-width: none; 

}

p{
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    color: rgb(247, 247, 247);
}


#header {

    position: fixed;
    opacity: 1;
    transition: .5s ease-in;
}

#main {

    display: none;
    transition: .5s ease-in;

}


footer {

    display: none;
    margin-top: 50px;

}

/*///////////////////////////////////////////////////// Menu ///////////////////////////////////////////////////////////////////////*/

.menu {

    z-index: 999;

}

.menu ul{

    display: flex;
    justify-content: space-around;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 20px;

}

.menu ul li{

    list-style-type: none;
    padding: 20px 20px 30px;
    height: 40px;
    transition: .5s ease-in;
    text-transform: uppercase;
    border-bottom: 3px solid rgba(128, 0, 85, 0);
    font-size: 1.5rem;

}

.menu ul li:hover{

    border-bottom: 3px solid rgba(128, 0, 85, 0.712);

}


/*////////////////////////////////////////////////////////// #header /////////////////////////////////////////////////////*/


.header-background{

    background-image: url(../IMG/hydegrey.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    

    display: flex;
    flex-direction: column;

    position: relative;

    overflow: hidden;

}

.header-background:hover .clouds{

    opacity: 1;
    transform: translateX( 0 );

}


.header-text{
    
    line-height: 5rem;
    margin-left: 15%;

    width: 100%;
    margin: 5% 10%;

}

.header-text h1 span{
    color: rgba(128, 0, 85, 0.712);
}

.header-text h1{
    font-size: 5rem;
}

h2{
    font-size: 4rem;
    text-align: center;
}

.header-text p {

    font-family: 'Rubik Glitch', cursive;
    font-size: 2.5rem;
    line-height: 1rem;

}

/*//////////////////////////////////////////// Clouds ///////////////////////////////////////*/

.clouds {

    width: 11%;

    opacity: 0;

    transform: translateX( 100% );
    
    transition: all ease-in 1s;
    
}

.clouds-left {

    transform: translateX( -100% );

}


.cloud-01 {

    position: absolute;
    top: 4%;
    right: 3%;
    z-index: -1;

}

.cloud-02 {

    position: absolute;
    top: 7%;
    right: 3%;
    z-index: 1;

}

.cloud-03 {

    position: absolute;
    top: 20%;
    right: 37%;
    z-index: -1;

}

.cloud-04 {

    position: absolute;
    top: 15%;
    left: -5%;
    z-index: -1;

}

.cloud-05 {

    position: absolute;
    top: 85%;
    z-index: -1;

}

.cloud-06 {

    position: absolute;
    top: 80%;
    right: 30%;
    z-index: 1;

}

.cloud-07 {

    position: absolute;
    top: 85%;
    right: 33%;
    z-index: -1;

}

.cloud-08 {

    position: absolute;
    top: 80%;
    right: -4%;
    z-index: 2;

}


h2 span, h4 span, p span{

    
    font-size: 3rem;
    color: rgba(128, 0, 85, 0.712);

}

#about-me{

    width: 100%;
    margin-left: -18%;

}

#about-me .introduction .skills {

    display: flex;
    justify-content: space-around;

}

#about-me .introduction .skills li{

    list-style-type: none;
    padding: 20px;

}

.introduction{

    width: 50%;
    margin: 0 auto;
    
}

.skills img{

    max-width: 60%;
}

/*/////////////////////////////////////////////// Project /////////////////////////////////////////////////////////*/

#main {

    position: absolute;

    top: 10%;
    width: 100vw;
    padding-bottom: 10%;

}

h4{
    font-size: 2rem;
}

.project{

    position: relative;

    width: fit-content;

    margin: 5% auto;
    
    margin-top: 50px;
}

.project-title{

    padding: 10px 30px;
}

.project h3{

    font-size: 2.5rem;
}

.flex-container{

    display: flex;
    justify-content: space-around;
    
    width: 100%;
    margin: 0 auto;

}


.project-title{

    position: absolute;
    bottom: 0;
    left: 0;

    z-index: 2;

    width: 100%;

    background-color: rgba(46, 46, 46, 0.719);

    
}

.project-email-title{

    text-align: center;
    padding: 40px;

}

.project-email-title h3 span{

    color: rgba(128, 0, 85, 0.712);

}

.email-containers a{

    display: inline-block;
    text-align: center;

}

.emails{

    width: 60%;
    margin: 0 auto;

}

.project img {

    max-width: 1200px;

    box-shadow: 0 0 50px rgb(12, 0, 0);

}

/*///////////////////////////////////////////// Footer /////////////////////////////////////////////////////////*/


footer .container .contact a img{

    display: block;
    max-width: 70px;

}

#footer ul {

    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

/*////////////////////////////////////////////// Media Query /////////////////////////////////////////////////////////////////*/


/*////////////////////// TABLET////////////////////////*/

@media screen and (max-width:1400px) {

    .container{

        width: 100%;
        margin: 0 auto;

    }

    #header {

        position: static;

    }

    .header-background {

        height: auto;

    }

    #about-me .introduction .skills{
       
        flex-wrap: wrap;
        width: 100%;
        padding: 0;

    }

    .skills li{

        width: 33%;
        margin: 0 auto;

    }

    .skills img{
       
        display: block;
        margin: 0 auto;
        
    }

    #main {

        margin: 0 auto;

    }

    #contact{

        margin-top: 200px;

    }

    #footer {

        position: absolute;
        top: 200px;
        left: 50%;
        transform: translate(-50% , -50%);
        -webkit-transform: translate(-50%, -50%);

    }

    .contact ul li{
        margin: 10px;
    }
    

}

/*//////////////////// MOBILE ///////////////////////////*/

@media screen and (max-width:576px) {

    .container {

        width: 100%;
        margin: 0 auto 

    }



    #header {

        position: static;

    }

    .header-background {

        height: auto;

        background-image: url(../IMG/hydegrey_circle.png);
        background-size: 150%;
        background-repeat: no-repeat;
        background-position: center 260;

    }

    .header-text h1 {

        font-size: 4.2rem;

    }


    /*//////////////////////////////////////////// Clouds ///////////////////////////////////////*/


    .clouds-left {

        transform: translateX( -100% );

    }


    .cloud-01 {

        position: absolute;
        top: 22.5%;
        right: 25%;
        z-index: -1;

    }

    .cloud-02 {

        position: absolute;
        top: 23%;
        right: 26%;
        z-index: 1;

    }

    .cloud-03 {

        position: absolute;
        top: 30%;
        right: 16%;
        z-index: -1;

    }

    .cloud-04 {

        position: absolute;
        top: 25%;
        left: 22%;
        z-index: -1;

    }

    .cloud-05 {

        position: absolute;
        top: 35%;
        left: 23%;
        z-index: 1;

    }

    .cloud-06 {

        position: absolute;
        top: 29.5%;
        right: 17%;
        z-index: 1;

    }

    .cloud-07 {

        position: absolute;
        top: 34%;
        right: 61%;
        z-index: -1;

    }

    .cloud-08 {

        position: absolute;
        top: 38%;
        right: 25%;
        z-index: 2;

    }

    #about-me {

        margin-top: 70%;
        margin-left: 0;

        padding: 20px;
        text-align: left;

    }

    #about-me .introduction .skills{
       
        flex-wrap: wrap;
        width: 100%;
        padding: 0;

    }

    .skills li{

        width: 40%;
        margin: 0 auto;

    }

    .skills img{
       
        display: block;
        margin: 0 auto;
        
    }

    .introduction {

        width: 100%;

    }

    .project {

        margin: 40px auto;
    }

    .project img {

        max-width: 80vw;
        margin: 0 auto;

    }


    .e-mails {

        flex-direction: column;

    }

    .email-containers {

        margin-top: 20px;
        width: 100%;
        

    }

    #footer {

        position: absolute;
        top: 200px;
        left: 50%;
        transform: translate(-50% , -50%);
        -webkit-transform: translate(-50%, -50%);

    }

    .contact ul li{
        margin: 10px;
    }
    
}